<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.belongapps.appdelivery">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".util.FirebaseLearn"
        android:icon="@mipmap/launch_icon_kisabor"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".seguranca.activities.LoginActivity" android:theme="@style/Base.LoginTheme">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".cardapioOnline.activitys.CardapioMainActivity"></activity>
        <activity android:name=".cardapioOnline.activitys.EscolherRecheioActivity" />
        <activity android:name=".cardapioOnline.activitys.EscolherAdicionalActivity" />
        <activity android:name=".cardapioOnline.activitys.DetalhesdoItemActivity" />
        <activity android:name=".cardapioOnline.activitys.EscolherPizzaActivity" />
        <activity android:name=".cardapioOnline.activitys.EscolherPizzaActivity2" />
        <activity android:name=".cardapioOnline.activitys.CarrinhoActivity" />
        <activity android:name=".cardapioOnline.activitys.FinalizarPedidoActivity" />
        <activity android:name=".helpAbout.activities.SobreActivity" />
        <activity android:name=".gerencial.activities.EnderecosActivity" />
        <activity android:name=".helpAbout.activities.AjudaActivity" />
        <activity android:name=".promocoes.activities.PromocoesActivity" />
        <activity android:name=".promocoes.activities.TelaInicialActivity" >

        </activity>
        <activity android:name=".posPedido.activities.MeusPedidosActivity"/>
        <activity android:name=".posPedido.activities.AcompanharPedidoActivity" />
        <activity android:name=".cardapioOnline.activitys.TesteActivity">

        </activity>

    </application>

</manifest>